{% extends 'index.html' %}

{% block content %}
    <div>
        <h1 class="text-center">Done with the aid of</h1>

    <ul>
        <li>Auth0 tutorial for installing <a href=https://auth0.com/docs/quickstart/backend/django/01-authorization>Auth0</a></li>
        <li><a href=https://github.com/klis87/django-cloudinary-storage>Django Cloudinary Storage</a> to server uploaded files from Cloudinary</li>
        <li>What would I do without <a href="https://stackoverflow.com/">Stack Overflow</a></li>
    </ul>
    </div>
{% endblock %}
